**/.DS_Store
**/.env
**/node_modules
yarn-error.log

/.fusion
/coverage/

/resources/dist
resources/dist/**

/data/db/
/data/dumps/**
!/data/dumps/.gitkeep
/data/restore/**
!/data/restore/.gitkeep

/dist
**/dist
.dist
.idea/*
*.swn
*.swo
*.swp
*~

/cypress/screenshots/**
/cypress/videos/**

/packages/*/index.js
/packages/site-components/css/index.css

/public
.now
lerna-debug.log

build-storybook.log